@model Trakker.Models.Ticket.CreateEditTicketModel

<div class="Section">
    <h1>Create Ticket</h1>
    @{Html.BeginForm();}
        @{Html.RenderPartial(MVC.Ticket.Views._CreateEditTicketForm, Model);}
    @{Html.EndForm();}
</div>