<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- windsor configuration. 
  This is a web application, all components must have a lifesytle of 'transient' or 'preWebRequest' -->
  <components>
    <component
        id="IConnectionStringProvider"
        service="Trakker.Data.IConnectionStringProvider, Trakker.Data"
        type="Trakker.Data.ConnectionStringProvider, Trakker.Data"
        lifestyle="transient">
      <parameters>
        <ConnectionString>Data Source=WEBSERVER;Initial Catalog=Trakker;User ID=Trakker;Password=Molly12132008;</ConnectionString>
      </parameters>
    </component>

    <component
         id="DataContextProvider"
         service="Trakker.Data.IDataContextProvider, Trakker.Data"
         type="Trakker.Data.DataContextProvider, Trakker.Data"
         lifestyle="perWebRequest">
    </component>

    <component
         id="UnitOfWork"
         service="Trakker.Data.IUnitOfWork, Trakker.Data"
         type="Trakker.Data.UnitOfWork, Trakker.Data"
         lifestyle="perWebRequest">
    </component>
    
    <!-- ========SERVICES======== -->
    <component
        id="UserService"
        service="Trakker.Services.IUserService, Trakker.Services"
        type="Trakker.Services.UserService, Trakker.Services"
        lifestyle="perWebRequest">
    </component>
    <component
        id="TicketService"
        service="Trakker.Services.ITicketService, Trakker.Services"
        type="Trakker.Services.TicketService, Trakker.Services"
        lifestyle="perWebRequest">
    </component>
    <component
        id="ProjectService"
        service="Trakker.Services.IProjectService, Trakker.Services"
        type="Trakker.Services.ProjectService, Trakker.Services"
        lifestyle="perWebRequest">
    </component>
    
    <!-- ========REPOSITORIES======== -->
    <component
         id="TicketRepository"
         service="Trakker.Data.ITicketRepository, Trakker.Data"
         type="Trakker.Data.TicketRepository, Trakker.Data"
         lifestyle="perWebRequest">
    </component>
    <component
         id="ProjectRepository"
         service="Trakker.Data.IProjectRepository, Trakker.Data"
         type="Trakker.Data.ProjectRepository, Trakker.Data"
         lifestyle="perWebRequest">
    </component>
    <component
         id="UserRepository"
         service="Trakker.Data.IUserRepository, Trakker.Data"
         type="Trakker.Data.UserRepository, Trakker.Data"
         lifestyle="perWebRequest">
    </component>


    
  </components>
</configuration>
