<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- windsor configuration. 
  This is a web application, all components must have a lifesytle of 'transient' or 'preWebRequest' -->
  <components>
    <component
        id="IConnectionStringProvider"
        service="Trakker.Data.IConnectionStringProvider, Trakker.Data"
        type="Trakker.Data.ConnectionStringProvider, Trakker.Data"
        lifestyle="transient">
      <parameters>
        <ConnectionString>Data Source=WEBSERVER;Initial Catalog=Trakker;User ID=Trakker;Password=Molly12132008;</ConnectionString>
      </parameters>
    </component>

    <component
         id="DataContextProvider"
         service="Trakker.Data.IDataContextProvider, Trakker.Data"
         type="Trakker.Data.DataContextProvider, Trakker.Data"
         lifestyle="perWebRequest">
    </component>

    <component
         id="UnitOfWork"
         service="Trakker.Data.IUnitOfWork, Trakker.Data"
         type="Trakker.Data.UnitOfWork, Trakker.Data"
         lifestyle="perWebRequest">
    </component>
       
  </components>
</configuration>
