*{margin: 0px; padding: 0px;}
body{color: #353535; font-size: 62.5%; line-height: 1.4; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; background-color: #f7f7f7; min-width: 1000px;}

a{outline: none; text-decoration: none;} /* remove dotted line when clicking a link */
h1,h2,h3,h4,h5,h6{margin: 10px 0px 10px 0px;}
h1 {font-size: 1.7em}
h2 {font-size: 1.6em}
h3 {font-size: 1.5em}
h4 {font-size: 1.4em}
h5 {font-size: 1.3em}
h6 {font-size: 1.2em}
button:focus{outline:none;}
button::-moz-focus-inner{border:0px;}

/* layout */
div#Header{font-size: 1.2em; width: 99%; padding: 5px 0.5%; border-bottom: 1px solid #b0b0b0; height: 35px; background-image: url(Images/UI-Backgrounds.png); background-position: 0px 0px;}
div#Header div.Right{float: right; width: 400px; margin-right: 20px;}
div#Header div.Right div{width: 100%; text-align: right;}

div#SubHeader{font-size: 1.2em; width: 100%; background-image:url(/Images/UI-Backgrounds.png); background-position: 0px -49px; height: 30px; border-bottom: 1px solid #667e9a;}
div#Content{ width: 100%; background-color: White; display:inline-block; font-size: 1.2em;}
div#Content div.InnerBorder{ position: relative; margin: 10px 20px; background-color: White; min-height: 500px;}
div#Footer{ font-size: 1.2em; background-color: #F7F7F7; border-top: 1px solid #bbb; width: 100%; min-height: 50px;}

/* content sections */
div#Content div.Section {border: 1px solid #ccc; padding: 5px 10px; margin-bottom: 10px;}
div#Content div.Section p {margin: 5px 0px;}
div#Content div.Section > h1, div#Content div.Section > h2, div#Content div.Section > h3, div#Content div.Section > h4, div#Content div.Section > h5, div#Content div.Section > h6
 { position: relative; top: -5px; left: -10px; padding: 5px 10px; width: 100%; background-color: #eee; margin: 0px 0px 5px 0px;}

/* Navigation */
div.Dropdown { padding: 0; display:block; }
div.Dropdown a.Hover{ border-width: 1px 1px 0px 1px; border-style: solid; border-color: #999; z-index:101; background-color: White; color: inherit !important;}
div.Dropdown li{ display:inline-block; list-style: none; border-width: 1px 1px 0px 1px;}
div.Dropdown li a{ color: #353535; background-color: transparent; position:relative; display: block; padding: 2px 10px 4px 10px; white-space: nowrap; z-index: 99; border-width: 1px 1px 0px 1px; border-style: solid; border-color: transparent;}
div.Dropdown li ul{ width: auto; margin:0px; padding: 0; position: absolute; display:none; z-index: 100; border: 1px solid #999; margin-top: -1px; }
div.Dropdown li ul li{ float: none; display:block; background-color: White; border-color: White;}
div.Dropdown li ul li a{ width: auto; background: white; color: inherit !important; }
div.Dropdown li ul li a:hover{ background-color: #a4d6f5;}
div.Dropdown li ul li.Heading{ font-weight: bold; padding: 10px 5px 0px 5px; border-bottom: 1px solid white; border-top: 1px solid white; display:block;}
div.Dropdown li ul li.Break{ border-bottom: 1px dotted gray; width: 100%; height: 1px; padding: 5px 0px; }

div.Nav{ margin: 15px 0px 0px 10px; }

div.SubNav{ padding: 10px 10px 1px 10px; display:block; border-bottom: 1px solid #B0B0B0; height: 24px; font-size: 1.2em;}
div.SubNav a.Hover{  }
div.SubNav a.Current{ font-weight: bold; }
/*
div.Dropdown { padding: 0; display:block; }
div.Dropdown a.Hover{ border-width: 1px 1px 0px 1px; border-style: solid; border-color: #999; z-index:101; background-color: White;}
div.Dropdown li{ display:inline-block; list-style: none; border-width: 1px 1px 0px 1px;}
div.Dropdown li a{ color: #353535; background-color: transparent; position:relative;  padding: 2px 5px 4px 5px; white-space: nowrap; z-index: 99; border-width: 1px 1px 0px 1px; border-style: solid; border-color: transparent;}
div.Dropdown li ul{ width: auto; margin:0px; padding: 0; position: absolute; display:none; z-index: 100; border: 1px solid #999; margin-top: 5px; background-color: White;}
div.Dropdown li a:hover{ background-color: White; }
div.Dropdown li ul li{ float: none; display:block; background-color: White; border-color: White;}
div.Dropdown li ul li a{ width: auto; background: white; color: #24313C; display: block;}
div.Dropdown li ul li a:hover{ background-color: #a4d6f5;}
div.Dropdown li ul li.Heading{ font-weight: bold; padding: 5px 6px 0px 5px; border-bottom: 1px solid white; border-top: 1px solid white; display:block;}
div.Dropdown li ul li.Break{ border-bottom: 1px dotted gray; width: 100%; height: 1px; padding: 5px 0px 0px 0px; margin: 0px 0px 0px 0px; }

div.Nav{ margin: 18px 0px 0px 10px; }
div.SubNav{ font-size: 1.2em;  margin: 5px 0px 0px 0px;  padding: 0px 10px 0px 10px; border-bottom: 1px solid #B0B0B0; height: 25px; }
div.SubNav a.Current{ font-weight: bold; }*/



/* Forms */
select, textarea, input {color: inherit; border: 1px solid #bbb; margin: 2px !important; padding: 2px 2px; background-color:#FFFFFF; background-image:url(/Images/Field-Background.png); background-repeat:repeat-x;
-moz-border-radius: 2px; min-width: 200px;}
select { min-width: 206px;}                
select.input-validation-error, textarea.input-validation-error, input.input-validation-error{background-color: #fff7f8; border: 1px dashed #ff3131;}
         
/*form { border: 2px solid #B7DDF2; background-color: #EBF4FB; overflow: hidden; padding: 0px 20px 10px 20px;}*/
form.Center {margin: 0 auto;}                         
form div.HorizontalRule{height: 1px; width: 100%; background-color: #B7DDF2; margin: 10px 0;}                       
form div.Row{margin: 2px 0px; position: static; clear: both; overflow:auto; display: inline-block; width: 100%;}
form div.Row div.Left {width: 15%; float:left; text-align:right; padding-right: 10px; height: 26px; line-height: 26px; }
form div.Row div.Left label {font-weight: bold;}
form div.Row div.Right{float: left; width: 83%; }
form div.Row div.Right p.Description{ display: block; color: #888; margin-left: 5px; }
form div.Row span.field-validation-error{color: #ff3131; display:block; margin: 0px 5px 0px 5px; }
form div.validation-summary-errors{background-color: #FFF7F8; border: 1px dashed #FF3131; margin-bottom: 10px; padding: 10px 0px 10px 0px;}
form div.validation-summary-errors li{margin-left: 30px; }

/* UI Elements */
.UI-Shadow{-moz-box-shadow: 0px 2px 5px #aaa; -webkit-box-shadow: #aaa 0px 2px 5px;}
.UI-Hover{-moz-box-shadow: 0 0 3px #222; -webkit-box-shadow: #222 0 0 3px;}

/* UI Buttons */
.UI-Button{float:left; margin: 2px 0px; color: inherit; display:inline-block; height: 23px; line-height: 23px; border:1px solid #ccc; padding: 3px 5px 2px 5px; 
background-image: url(/Images/UI-Backgrounds.png);}
.UI-Button:hover{border-color: #999; background-position: 0px  -80px; -moz-box-shadow: 0 0 3px #aaa; -webkit-box-shadow: #aaa 0 0 3px;}
.UI-Button:active{position: relative; top: 1px;  }

.UI-Button.UI-Border{-moz-border-radius:4px; -webkit-border-radius:4px; margin: 2px 3px;}
.UI-Button.UI-Border-Left{-moz-border-radius:5px 0px 0px 5px; -webkit-border-radius:5px 0px 0px 5px; border-width: 1px 0px 1px 1px; margin: 2px 0px 2px 3px;}
.UI-Button.UI-Border-Right{-moz-border-radius:0px 5px 5px 0px; -webkit-border-radius:0px 5px 5px 0px; position:relative; left: -1px; margin: 2px 3px 2px 0px;}
.UI-Button.UI-Border-Center{border-width: 1px 0px 1px 1px; margin: 2px 0px;}
.UI-Button.UI-Border-Top{-moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; margin: 2px 3px 0px 3px;}
.UI-Button.UI-Border-Bottom{-moz-border-radius:0px 0px 5px 5px; -webkit-border-radius:0px 0px 5px 5px; margin: 0px 3px 2px 3px;}

/* Icons */
.UI-Button div.Icon{width:16px; height: 16px; margin: 0px 5px 0px 5px; float:left; border:none; background-image: url(/Images/Icons.png);}

.UI-Button div.Icon.Binocular{ background-position: 0 0; width: 16px; height: 16px; } 
.UI-Button div.Icon.CommentAdd{ background-position: 0 -32px; width: 16px; height: 16px; } 
.UI-Button div.Icon.DiskPlus{ background-position: 0 -64px; width: 16px; height: 16px; } 
.UI-Button div.Icon.DoorIn{ background-position: 0 -96px; width: 16px; height: 16px; } 
.UI-Button div.Icon.HighlighterArrow{ background-position: 0 -128px; width: 16px; height: 16px; } 
.UI-Button div.Icon.UserArrow{ background-position: 0 -160px; width: 16px; height: 16px; } 
.UI-Button div.Icon.UserSilhouetteQuestion{ background-position: 0 -192px; width: 16px; height: 16px; } 


/* Pagination */
div.Pagination { height: 25px;}
div.Pagination a{  color: inherit; float:left; border: 1px solid #ccc;  padding: 2px 6px; margin: 1px; -moz-border-radius: 3px; -webkit-border-radius:3px; background-image: url(/Images/UI-Button.png);}
div.Pagination a.Current{background-color: #EEEEEE; border: 1px solid #ccc; color: inherit; font-weight: bold;}
div.Pagination a:hover{border: 1px solid #999; color: inherit; -moz-box-shadow: 0 0 3px #aaa; -webkit-box-shadow: #aaa 0 0 3px;}
div.Pagination a:focus{background-position: 0px -30px; }
div.Pagination a.Current:hover{color:black;}



/***************************************************************************************************/
/**************************************** Generic Styling ******************************************/

/****** basic table styling  *****/
table.Indent { margin-left: 1%; margin-right: 1%; width: 98%;}

table.Grid { border-collapse: collapse; margin-bottom: 10px; border: 1px solid #bbb; }
table.Grid thead tr th, table tfoot tr th  { border-bottom: 1px solid #bbb; text-align: left; padding: 5px 7px; background-color: #eee; border-left: 1px dotted #bbb; }
table.Grid tbody tr td { padding: 5px 7px; border-bottom: 1px solid #bbb; border-left: 1px dotted #bbb;}
table.Grid tbody tr:hover td { background-color: #eaf1fd; }


/**** Telerik Overrides ****/
div.t-datepicker a{margin-top: 5px !important;} /* move the icon down */
di.t-calendar table tbody tr td a{ font-size: 15px !important; }



/*
<style>
        ul.SideNav{ float:left; display:block; position:relative; list-style-type:none; margin:0; padding:0; z-index: 5; margin-top: 20px; padding-top: 1px; }
        ul.SideNav li {border: 1px solid #bbb; display: block; background-color: #eee; margin: -1px -1px 0px 0px; padding: 3px 10px; }
        ul.SideNav li.Current{background-color: White; margin-left: -10px; border-right: none; min-width: 120px; font-weight: bold;}
        
       div.AdminContent { overflow-x: auto; background-color:#FFFFFF; border:1px solid #BBBBBB; min-height: 600px; position: relative; }
    </style>

    <div>
        <h1>Attributes</h1>
    </div>
    <ul class="SideNav">
        <li>Categories</li>
        <li class="Current">Resolutions</li>
        <li>Status</li>
        <li>Priorities</li>
    </ul>
    <div class="AdminContent">
        sa;ldka;slkdals;
    </div>
*/


/******** jquery tools - tabs *************/

ul.Tabs { margin:0 !important; 	padding:0;	height:30px; border-bottom:1px solid #666;	 	}
ul.Tabs li { float:left; padding:0; margin:0;  list-style-type:none; margin-left: 8px;}
ul.Tabs a { float:left;	font-size:13px;	display:block;	padding:5px 30px; text-decoration:none;	border:1px solid #666; border-bottom:0px; height:18px; background-color:white; 
            color:#777;	margin-right:2px; position:relative; top:1px;  }
ul.Tabs a:hover { background-color:#F7F7F7; color:#333;}
ul.Tabs a.Current {	background-color:#ddd;	border-bottom:1px solid #ddd; color:#000; cursor:default;}
div.Panes div { float:left; width: 100%; display:none; border:1px solid #666; border-width:1px 1px 1px 1px; min-height:150px;	}



