
div#ProjectContainer h3{ font-weight: normal; border-bottom: 1px solid #ccc;}
div#ProjectContainer div.Left {float:left; width: 49%;}
div#ProjectContainer div.Right{float:right; width: 49%;}
div#ProjectContainer div.Section{margin: 10px 0px 10px 0px; float:left; width: 100%;}


div#ProjectContainer div.Description li { margin: 10px 0px 10px 15px; list-style: square;}
div#ProjectContainer div.Description li p span{display: inline-block; width: 100px; color: #666;}

div#ProjectContainer div.Issues li{ margin: 10px 0px 10px 15px; list-style: square;}
div#ProjectContainer div.Issues li span{color: #666; }
div#ProjectContainer div.Issues li p.Left{width: 49%; color:#666; float: left; }
div#ProjectContainer div.Issues li p.Right{width: 49%; text-align: right; float:right;}


