
div#ProjectContainer div.Left {float:left; width: 49%;}
div#ProjectContainer div.Right{float:right; width: 49%;}
div#ProjectContainer div.Section{margin: 10px 0px 10px 0px; float:left; width: 100%;}


div#ProjectContainer div.Description li { margin: 10px 0px 10px 15px; list-style: square;}
div#ProjectContainer div.Description li p span{display: inline-block; width: 100px; color: #666;}

div#ProjectContainer div.Issues li{ margin: 10px 0px 10px 15px; list-style: square;}
div#ProjectContainer div.Issues li span{color: #666; }
div#ProjectContainer div.Issues li p.Left{width: 49%; color:#666; float: left; }
div#ProjectContainer div.Issues li p.Right{width: 49%; text-align: right; float:right;}


/************************/
/****** Road Map Tab ****/
ul#road-map-list > li {padding: 0px 10px 0px 10px; height: 40px; display: block; line-height: 40px; font-size: 1.2em;}
ul#road-map-list > li:hover {background-color: #eee;}
ul#road-map-list > li div { float: left;}
ul#road-map-list > li div.name {width: 150px;}
ul#road-map-list > li div.progress {width: 300px; margin: 10px 20px 0px 0px; height: 20px; border: 1px solid black;}
ul#road-map-list > li span.notes {float:right;}