

a{ color: red;}
a:hover{color: red;}
a:visited{color:red;}

/*** Header  Colors ***/
div#Header{ background-color: red; border-bottom: 1px solid darkred;}
div#Header a{ color:White;}
div#Header div.Right { color:White;}

/*** Nav Colors ***/
div.Nav a{ color: White;}
div.SubNav { background-color: pink; border-bottom: 1px solid lightpink;}
div.Dropdown li ul li a:hover { background-color: #FFE1FF;}

/*** Sections ***/
div#Content div.Section { border-color: pink;}
div#Content div.Section h1, div#Content div.Section h2, div#Content div.Section h3, div#Content div.Section h4, div#Content div.Section h5, div#Content div.Section h6
{ background-color: pink;}

/*** Table ***/
div#Content table.Grid { border-color: pink;}
div#Content table.Grid thead tr th, div#Content table.Grid tfoot tr th
{border-left: 1px dotted pink; border-bottom: 1px solid pink;  background-color: pink;}
div#Content table.Grid tbody tr td{ border-bottom: 1px solid pink; border-left: 1px dotted pink;}
div#Content table.Grid tbody tr:hover td { background-color: #FFE1FF; }
