/***** TicketDetails *****/
#TicketDetails {float:left; width: 100%;}
#TicketDetails div.Header{height: 42px; position:relative;}
#TicketDetails div.Header img{width: 42px; height: 42px;  position:absolute;}
#TicketDetails div.Header h1{ margin: 0px 0px 0px 58px;}
#TicketDetails div.Header p { margin-left: 58px;}

#TicketDetails div.Buttons{margin: 5px 0px; position:relative; width:auto; display:block; height: 28px;}

#TicketDetails div.Details {  float:left; width: 48%;  margin-right: 2%;}
#TicketDetails div.Details ul li { float:left; width: 40%;}

#TicketDetails div.People { float:left; width: 24%;  margin-right: 2%; }
#TicketDetails div.People ul li span{float:right; margin-right: 20px;}


#TicketDetails div.Dates { float:left; width: 24%;  }
#TicketDetails div.Desc { float:left; width: 68%; margin-right: 2%; margin-bottom: 20px;}
#TicketDetails div.Desc div{padding:0px 20px;}

#TicketDetails div.TimeTracking{ float:left; width: 30%;} 

#TicketDetails div ul { margin-left: 20px;}
#TicketDetails div ul li{ list-style:none; }
#TicketDetails div.Details h2, #TicketDetails div.People h2, #TicketDetails div.Dates h2, #TicketDetails div.Desc h2, #TicketDetails div.TimeTracking h2  
{background-color: #eee; border-bottom: 1px solid #ccc; padding: 2px 0px 2px 20px; font-size: 1.25em;}





#TicketDetails div.LeftContent{float:left; width: 70%;}
#TicketDetails div.LeftContent label{float:left; width: 150px;  margin: 3px 0px 3px 20px ;}
#TicketDetails div.LeftContent p.Value{float:left; width : 375px; margin: 3px 0px 3px 0px ;}

#TicketDetails div.RightContent{float:right; width: 26%;}
#TicketDetails div.RightContent label{float:left; width: 150px;  margin: 3px 0px 3px 20px ;}
#TicketDetails div.RightContent p.Value{float:left; width : 225px; margin: 3px 0px 3px 0px ; text-align: right;}
#TicketDetails h3.SubHeader{float:left; width: 100%;  border-bottom: 1px dashed #aaa; margin-top: 20px;}
#TicketDetails p.Description{float:left; margin-left: 20px;}

/* Comments */
li.Comment{ width: auto; border: 1px solid black; margin: 5px 20px; display:inine;}
li.Comment div.UserInfo{float:left; width: 100px;}
li.Comment p.Body{float:left; width: auto;}
