@model Trakker.Models.User.LoginModel

<asp:Content ID="Content2" ContentPlaceHolderID="BasicContent" runat="server">

    @using (Html.BeginForm(400))
    { 
        <h2>Login</h2>

        @(Html.FormRow()
            .AddToLeft(Html.LabelFor(x => x.Email))
            .AddToRight(Html.TextBoxFor(x => x.Email))
            .AddToRight(Html.ValidationMessageFor(x => x.Email)))

        @(Html.FormRow()
            .AddToLeft(Html.LabelFor(x => x.Password))
            .AddToRight(Html.PasswordFor(x => x.Password))
            .AddToRight(Html.ValidationMessageFor(x => x.Password))
            .AddToRight(Html.ValidationMessage("Invalid")))
        
        @(Html.FormRow()
            .AddToRight(Html.LoginButton("Login", new { })))

    }

 
 <!--
     <textarea class="test" id="test"></textarea>
     		<script type="text/javascript">
		//<![CDATA[
     		    // Replace the <textarea id="editor1"> with an CKEditor instance.
     		    var editor = CKEDITOR.replace('test');
		//]]>
		</script>

        <%= Html.CKEditorTextArea("somename", "somevalue", new { }) %>
        -->

</asp:Content>
