<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trakker.Data.Properties.Settings.TrakkerConnectionString2"
            connectionString="Data Source=WEBSERVER;Initial Catalog=Trakker;Persist Security Info=True;User ID=Trakker"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>