@model Trakker.Models.Admin.Attribute.CreateEditPriorityModel


<div class="Section">
    @{Html.BeginForm();}
        <h1>Create Priority</h1>
        @{Html.RenderPartial(MVC.Admin.Attribute.Views._CreateEditPriorityForm);}
    @{Html.EndForm();}
</div>
