@model Trakker.Models.Admin.Attribute.CreateEditResolutionModel

<div class="Section">
    <h1>Edit Resolution</h1>
    @{Html.BeginForm();}
        @{Html.RenderPartial(MVC.Admin.Attribute.Views._CreateEditResolutionForm);}
    @{Html.EndForm();}
</div>

