@model Trakker.Models.Admin.Attribute.CreateEditTypeModel

<div class="Section">
    <h1>Edit Ticket Type</h1>
    @{Html.RenderPartial(MVC.Admin.Attribute.Views._CreateEditTypeForm, Model);}
</div>

