@model Trakker.Models.Admin.Attribute.CreateEditResolutionModel

<div class="Section">
    <h1>Edit Resolution</h1>
    @{Html.BeginForm();}
        @{Html.RenderPartial("_CreateEditResolutionForm");}
    @{Html.EndForm();}
</div>

