@model Trakker.Models.Admin.Management.EditVersionModel

<div class="Section">
    <h1>Edit Version</h1>
    <p>Update the version name, description or release date below.</p>

    @using (Html.BeginForm())
    {

        @(Html.FormRow()
            .AddToLeft(Html.Label("Version Name:"))
            .AddToRight(Html.TextBoxFor(x => x.Name))
            .AddToRight(Html.ValidationMessageFor(m => m.Name)))
    
        @(Html.FormRow()
            .AddToLeft(Html.Label("Description:"))
            .AddToRight(Html.TextAreaFor(x => x.Description))
            .AddToRight(Html.ValidationMessageFor(m => m.Description)))

    
        @(Html.FormRow()
            .AddToLeft(Html.Label("Release Date:"))
            .AddToRight(Html.Ctm().DatePickerFor(x => x.ReleaseDate))
            .AddToRight(Html.ValidationMessageFor(m => m.ReleaseDate)))
        
        @(Html.FormRow()
            .AddToRight(Html.SaveButton("Save", null)))
    }
</div>