@model Trakker.Models.Admin.Management.EditUserPasswordModel

<div class="Section">
    <h1>Edit Password For: <em>@Model.User.FullName()</em></h1>

    @{Html.BeginForm();}
        @(Html.FormRow()
            .AddToLeft(Html.LabelFor(x => x.Password))
            .AddToRight(Html.PasswordFor(x => x.Password, Model.Password))
            .AddToRight(Html.ValidationMessageFor(m => m.Password)))

        @(Html.FormRow()
            .AddToLeft(Html.LabelFor(x => x.RePassword))
            .AddToRight(Html.PasswordFor(x => x.RePassword, Model.RePassword))
            .AddToRight(Html.ValidationMessageFor(m => m.RePassword)))
     
        @(Html.FormRow()
            .AddToRight(Html.SaveButton("Save", null)))

    @{Html.EndForm();}
</div>

