@model Trakker.Models.Admin.Management.ReleaseVersionModel

<div class="Section">
    <h2>Re-assign and/or Delete</h2>
    <p>Before setting a version to release you can change the release date and see any tickets that have yet to be closed.</p>

    @using (Html.BeginForm())
    {
        @(Html.FormRow()
            .AddToLeft(Html.LabelFor(x => x.Version, "Release Date"))
            .AddToRight(Html.DatePickerFor(x => x.Version.ReleaseDate))
            .AppendDescription("Re-assigns all the tickets to be fixed to the selected version."))
        
        @(Html.FormRow()
            .AddToLeft("Tickets Still Open:")
            .AddToRight(Model.NumberOfTicketsOpen))

        @(Html.FormRow()
            .AddToRight(Html.SaveButton("Release", new { }))
            .AddToRight(Html.SaveButton("Cancel", new { })))
    }
</div>