<%@ Master Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewMasterPage<MasterViewData>" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <% Html.RenderPartial("SubNavigation"); %>
    <div id="Content">
        <div class="InnerBorder">
            <asp:ContentPlaceHolder ID="AdminContent" runat="server" />
        </div>
    </div>
</asp:Content>

