@model MasterModel

@{
    Layout = "~/Views/Shared/Master.cshtml";
}

@{Html.RenderPartial(MVC.Admin.Shared.Views._SubNavigation);}
<div id="body">
    <div class="inner-body">
        @RenderBody()
    </div>
</div>


