@model MasterModel

@{
    Layout = "~/Views/Shared/Master.cshtml";
}

@{Html.RenderPartial(MVC.Admin.Shared.Views._SubNavigation);}
<div id="Content">
    <div class="InnerBorder">
        @RenderBody()
    </div>
</div>


