@model Trakker.Models.Admin.Settings.CreateEditColorPaletteModel

<div class="Section">
    <h2>Edit Color Palette</h2>
    @{Html.RenderPartial(MVC.Admin.Settings.Views._CreateEditColorPalette, Model);}
</div>
